@import "tailwindcss";

:root {
  --background: #f3f3f3;
  --foreground: #1b1b1b;
  --muted-foreground: #717171;
  --primary: #2E8B7C;
  --primary-hover: #175248;
  --secondary: #2c394d;
  --secondary-hover: #0f203a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-secondary: var(--secondary);
  --color-secondary-hover: var(--secondary-hover);

  --font-sans: var(--font-dm-sans);
  --font-heading: var(--font-space-grotesk);
}

body{
   @apply bg-background text-foreground font-sans;
}

h1, h2, h3, h4, h5, h6{
  @apply font-heading;
}

